{{ define "nav" }}
  <nav>
    {{ if not .User.Email }}
      <p>Not logged in</p>
    {{ else }}
      <p>Logged in as {{ .User.Email }}</p>
    {{ end }}

    <ul>
      <li>
        <a href="/">Home</a>
      </li>

      {{ if not .User.Email }}
        <li>
          <a href="/register">Register</a>
        </li>

        <li>
          <a href="/login">Login</a>
        </li>
      {{ else }}
        <form method="POST" action="/logout">
          <input type='hidden' name='csrf_token' value='{{ .CSRFToken }}'>
          <button type="submit">Logout</button>
        </form>
      {{ end }}
    </ul>
  </nav>
{{ end }}