{{ define "nav" }}
  <nav class="Nav">
    <ul class="Nav__list p-md mt-md">
      <li>
        <a class="Nav__link" href="/">Home</a>
      </li>

      {{ if not .User.Email }}
        <li>
          <a class="Nav__link" href="/register">Register</a>
        </li>

        <li>
          <a class="Nav__link" href="/login">Login</a>
        </li>
      {{ else }}
        <li>
          <form method="POST" action="/logout">
            <input type='hidden' name='csrf_token' value='{{ .CSRFToken }}'>
            <button class="Nav__link" type="submit">Logout</button>
          </form>
        </li>
      {{ end }}
    </ul>

    <div class="Nav__user p-md font-sm">
      {{ if not .User.Email }}
        <p>Not logged in</p>
      {{ else }}
        <p>Logged in as <span class="font-bold">{{ .User.Email }}</span></p>
      {{ end }}
    </div>
  </nav>
{{ end }}