.Calendar {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.Calendar__week {
  &.is-current {
    td {
      background-color: var(--border);

      &:first-child {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
      }

      &.is-today {
        button {
          width: 2rem;
          height: 2rem;
          background-color: crimson;
          border-radius: 50%;
          color: white;
        }
      }
    }
  }
}

.Calendar__day {
  --color: white;
  --text-color: var(--background);

  height: 26px;
  padding: 3px;

  button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
  }

  &.is-today {
    --color: crimson;
    --text-color: white;

    color: var(--color);
  }

  &.is-current {
    button {
      background-color: var(--color);
      color: var(--text-color);
    }
  }
}
