.DateSelector {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border);
}

.DateSelector__current {
  width: 20%;
}

.DateSelector__dates {
  display: flex;
  flex: 1;
  justify-content: space-between;
  max-width: 35rem;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
}

.DateSelector__date {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  .button {
    width: 5rem;
  }

  &.is-current {
    &::after {
      background-color: goldenrod;
    }
  }

  &.is-past {
    color: var(--dim);
  }
}
