$font-path: "/public/fonts";

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src:
    url("#{$font-path}/lato-bold-webfont.woff2") format('woff2'),
    url("#{$font-path}/lato-bold-webfont.woff") format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: normal;
  font-style: italic;
  src:
    url("#{$font-path}/lato-italic-webfont.woff2") format('woff2'),
    url("#{$font-path}/lato-italic-webfont.woff") format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;
  src:
    url("#{$font-path}/lato-regular-webfont.woff2") format('woff2'),
    url("#{$font-path}/lato-regular-webfont.woff") format('woff');
}
