{{ define "app" }}
<!doctype html>
<html lang="en">

<head>
  <title>Pacific</title>
</head>

<body>
  {{ template "nav" . }}

  <main>
    {{ template "flash" . }}
    
    {{ template "main" . }}
  </main>
</body>

</html>
{{ end }}