{{ define "app" }}
<!doctype html>
<html lang="en">

<head>
  <title>Pacific</title>
  <meta name="csrf_token" content="{{ .CSRFToken }}" />
</head>

<body>
  {{ template "nav" . }}

  <main>
    {{ template "flash" . }}
    
    {{ template "main" . }}
  </main>

  <script type="module" src="/static/index.js?t={{ timestamp }}"></script>
</body>

</html>
{{ end }}