{{ template "app" . }}
  {{ define "main" }}
  <h1>Register page</h1>

  <form method="POST" action="/register">
    <input type='hidden' name='csrf_token' value='{{ .CSRFToken }}'>
    
    {{ with .Form }}
      <div>
        <label for="email">Email</label>
        <input type="email" name="email">
        {{with .Errors.Get "email"}}
            <label class='error'>{{.}}</label>
        {{end}}
      </div>

      <div>
        <label for="password">Password</label>
        <input type="password" name="password">
        {{with .Errors.Get "password"}}
            <label class='error'>{{.}}</label>
        {{end}}
      </div>
    {{ end }}

    <button type="submit">Register</button>
  </form>
{{ end }}